{{ .CommonAnnotations.summary }}

```json
{{ index (index .Alerts 0).Annotations "description" }}
```

Common Labels:
{{ range $key, $value := .CommonLabels }}- {{$key}}: {{$value}}
{{ end }}

/label ~"🐞 bug" 